<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api Info</title>

    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>- Get All Products</h1>
    <ul>
      <li>METHOD : GET</li>
      <li><code>/api/products</code></li>
    </ul>
    <br />
    <h1>- Get Specific Product</h1>
    <ul>
      <li>METHOD : GET</li>
      <li><code>/api/product/:id</code></li>
    </ul>
    <br />
    <h1>- Add Product</h1>
    <ul>
      <li>METHOD : POST</li>
      <li>content-type : application/json</li>
      <li><code>/api/product/add</code></li>
    </ul>
    <br />
    <h1>- Delete Product</h1>
    <ul>
      <li>METHOD : DELETE</li>
      <li><code>/api/product/:id</code></li>
    </ul>
  </body>
</html>
